USE [BDLACTEOSCALEB]
GO


/****** Object:  Database [BD_LACTEOSCALEB]    Script Date: 08/03/2024 22:40:46 ******/
CREATE DATABASE [BD_LACTEOSCALEB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_LACTEOSCALEB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BD_LACTEOSCALEB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_LACTEOSCALEB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BD_LACTEOSCALEB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_LACTEOSCALEB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_LACTEOSCALEB]
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 08/03/2024 22:40:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[IdCat] [int] NOT NULL,
	[NomCat] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_CATEGORIAS] PRIMARY KEY CLUSTERED 
(
	[IdCat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[DNI] [nvarchar](15) NOT NULL,
	[NomCli] [nvarchar](30) NOT NULL,
	[CorCli] [nvarchar](80) NULL,
	[TelCli] [int] NULL,
 CONSTRAINT [PK_CLIENTE_1] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRADTALLE]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRADTALLE](
	[IdComp] [int] NOT NULL,
	[IdPro] [int] NOT NULL,
	[CantCom] [int] NOT NULL,
	[PreCom] [int] NOT NULL,
 CONSTRAINT [PK_COMPRADTALLE] PRIMARY KEY CLUSTERED 
(
	[IdComp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRAENCABEZADO]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRAENCABEZADO](
	[IdComp] [int] NOT NULL,
	[FecComEnc] [date] NOT NULL,
	[IdProv] [nvarchar](15) NULL,
 CONSTRAINT [PK_COMPRAENCABEZADO] PRIMARY KEY CLUSTERED 
(
	[IdComp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURADETALLE]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURADETALLE](
	[IdFacEn] [int] NOT NULL,
	[IdPro] [int] NOT NULL,
	[CantFacDe] [int] NOT NULL,
	[PreFacDe] [int] NOT NULL,
 CONSTRAINT [PK_FACTURADETALLE] PRIMARY KEY CLUSTERED 
(
	[IdFacEn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURAENCABEZADO]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURAENCABEZADO](
	[IdFactEn] [int] NOT NULL,
	[FecFacEn] [date] NOT NULL,
	[NomUsu] [nvarchar](30) NOT NULL,
	[EstFacEn] [bit] NOT NULL,
	[DNI] [nvarchar](15) NULL,
 CONSTRAINT [PK_FACTURAENCABEZADO] PRIMARY KEY CLUSTERED 
(
	[IdFactEn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[IdPro] [int] NOT NULL,
	[NomPro] [nvarchar](50) NOT NULL,
	[DesPro] [nvarchar](100) NULL,
	[PrePro] [int] NOT NULL,
	[EstPro] [bit] NOT NULL,
	[IdCat] [int] NULL,
 CONSTRAINT [PK_PRODUCTOS] PRIMARY KEY CLUSTERED 
(
	[IdPro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDORES]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDORES](
	[IdPrv] [nvarchar](15) NOT NULL,
	[NomPrv] [nvarchar](50) NOT NULL,
	[EstPrv] [bit] NOT NULL,
	[CorPrv] [nvarchar](80) NULL,
	[TelfPrv] [int] NULL,
 CONSTRAINT [PK_PROVEEDORES] PRIMARY KEY CLUSTERED 
(
	[IdPrv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_BITACORA]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_BITACORA](
	[IdBit] [int] IDENTITY(1,1) NOT NULL,
	[FecBit] [date] NOT NULL,
	[NomUsr] [nvarchar](30) NOT NULL,
	[IdActi] [nvarchar](50) NULL,
 CONSTRAINT [PK_TB_BITACORA] PRIMARY KEY CLUSTERED 
(
	[IdBit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[NomUsu] [nvarchar](30) NOT NULL,
	[ConUsu] [nvarchar](40) NOT NULL,
	[RolUsu] [nvarchar](20) NULL,
	[EstUsu] [bit] NOT NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[NomUsu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CATEGORIAS] ([IdCat], [NomCat]) VALUES (2020, N'Pan')
INSERT [dbo].[CATEGORIAS] ([IdCat], [NomCat]) VALUES (2021, N'Carne')
INSERT [dbo].[CATEGORIAS] ([IdCat], [NomCat]) VALUES (2023, N'Frituras')
GO
INSERT [dbo].[CLIENTE] ([DNI], [NomCli], [CorCli], [TelCli]) VALUES (N'0205198500256', N'Hector', N'hector@gmial.com', 98985656)
INSERT [dbo].[CLIENTE] ([DNI], [NomCli], [CorCli], [TelCli]) VALUES (N'0505200100369', N'Josue', N'hhdhd', 989898)
INSERT [dbo].[CLIENTE] ([DNI], [NomCli], [CorCli], [TelCli]) VALUES (N'07021568369', N'Vanessa', N'dhud', 98989898)
GO
INSERT [dbo].[COMPRADTALLE] ([IdComp], [IdPro], [CantCom], [PreCom]) VALUES (32, 5, 4, 3)
INSERT [dbo].[COMPRADTALLE] ([IdComp], [IdPro], [CantCom], [PreCom]) VALUES (33, 13, 4, 4)
INSERT [dbo].[COMPRADTALLE] ([IdComp], [IdPro], [CantCom], [PreCom]) VALUES (39, 2, 40, 200)
GO
INSERT [dbo].[COMPRAENCABEZADO] ([IdComp], [FecComEnc], [IdProv]) VALUES (1, CAST(N'2024-12-05' AS Date), NULL)
INSERT [dbo].[COMPRAENCABEZADO] ([IdComp], [FecComEnc], [IdProv]) VALUES (2, CAST(N'2023-11-14' AS Date), NULL)
INSERT [dbo].[COMPRAENCABEZADO] ([IdComp], [FecComEnc], [IdProv]) VALUES (4, CAST(N'2024-03-01' AS Date), NULL)
GO
INSERT [dbo].[FACTURADETALLE] ([IdFacEn], [IdPro], [CantFacDe], [PreFacDe]) VALUES (25, 5, 4, 2)
INSERT [dbo].[FACTURADETALLE] ([IdFacEn], [IdPro], [CantFacDe], [PreFacDe]) VALUES (26, 5, 5, 52)
INSERT [dbo].[FACTURADETALLE] ([IdFacEn], [IdPro], [CantFacDe], [PreFacDe]) VALUES (250, 2, 5, 5)
GO
INSERT [dbo].[FACTURAENCABEZADO] ([IdFactEn], [FecFacEn], [NomUsu], [EstFacEn], [DNI]) VALUES (25, CAST(N'2024-03-07' AS Date), N'David', 1, N'0704')
INSERT [dbo].[FACTURAENCABEZADO] ([IdFactEn], [FecFacEn], [NomUsu], [EstFacEn], [DNI]) VALUES (26, CAST(N'2024-03-07' AS Date), N'David', 1, N'0704')
INSERT [dbo].[FACTURAENCABEZADO] ([IdFactEn], [FecFacEn], [NomUsu], [EstFacEn], [DNI]) VALUES (60, CAST(N'2024-03-06' AS Date), N'David', 1, N'0704')
GO
INSERT [dbo].[PRODUCTOS] ([IdPro], [NomPro], [DesPro], [PrePro], [EstPro], [IdCat]) VALUES (1, N'Mantequilla', N'Pesada', 45, 1, 2020)
INSERT [dbo].[PRODUCTOS] ([IdPro], [NomPro], [DesPro], [PrePro], [EstPro], [IdCat]) VALUES (2, N'Rosquillas', N'Paquete', 40, 1, 2023)
INSERT [dbo].[PRODUCTOS] ([IdPro], [NomPro], [DesPro], [PrePro], [EstPro], [IdCat]) VALUES (3, N'Queso', N'Pesada', 70, 1, 2020)
GO
INSERT [dbo].[PROVEEDORES] ([IdPrv], [NomPrv], [EstPrv], [CorPrv], [TelfPrv]) VALUES (N'0704550000650', N'Kalvin', 1, N'nhh', 6565)
INSERT [dbo].[PROVEEDORES] ([IdPrv], [NomPrv], [EstPrv], [CorPrv], [TelfPrv]) VALUES (N'0708125300852', N'Marlon', 1, N'mar95@gmial.com', 85854578)
INSERT [dbo].[PROVEEDORES] ([IdPrv], [NomPrv], [EstPrv], [CorPrv], [TelfPrv]) VALUES (N'0710198000658', N'Julio Lopez', 1, N'gdsgd@gmail.com', 98989898)
GO
SET IDENTITY_INSERT [dbo].[TB_BITACORA] ON 

INSERT [dbo].[TB_BITACORA] ([IdBit], [FecBit], [NomUsr], [IdActi]) VALUES (4, CAST(N'2024-03-08' AS Date), N'1', N'David')
INSERT [dbo].[TB_BITACORA] ([IdBit], [FecBit], [NomUsr], [IdActi]) VALUES (5, CAST(N'2024-03-08' AS Date), N'1', N'David')
INSERT [dbo].[TB_BITACORA] ([IdBit], [FecBit], [NomUsr], [IdActi]) VALUES (6, CAST(N'2024-03-08' AS Date), N'Se añadio en CLIENTES', N'David')
SET IDENTITY_INSERT [dbo].[TB_BITACORA] OFF
GO
INSERT [dbo].[USUARIOS] ([NomUsu], [ConUsu], [RolUsu], [EstUsu]) VALUES (N'Arony', N'2024', N'Desarrollador', 1)
INSERT [dbo].[USUARIOS] ([NomUsu], [ConUsu], [RolUsu], [EstUsu]) VALUES (N'David', N'2024', N'Desarrolador', 1)
INSERT [dbo].[USUARIOS] ([NomUsu], [ConUsu], [RolUsu], [EstUsu]) VALUES (N'Eliana', N'2024', N'Administrador', 1)
GO
ALTER TABLE [dbo].[COMPRADTALLE]  WITH CHECK ADD  CONSTRAINT [FK_COMPRADTALLE_COMPRAENCABEZADO] FOREIGN KEY([IdComp])
REFERENCES [dbo].[COMPRAENCABEZADO] ([IdComp])
GO
ALTER TABLE [dbo].[COMPRADTALLE] CHECK CONSTRAINT [FK_COMPRADTALLE_COMPRAENCABEZADO]
GO
ALTER TABLE [dbo].[COMPRADTALLE]  WITH CHECK ADD  CONSTRAINT [FK_COMPRADTALLE_PRODUCTOS] FOREIGN KEY([IdPro])
REFERENCES [dbo].[PRODUCTOS] ([IdPro])
GO
ALTER TABLE [dbo].[COMPRADTALLE] CHECK CONSTRAINT [FK_COMPRADTALLE_PRODUCTOS]
GO
ALTER TABLE [dbo].[FACTURADETALLE]  WITH CHECK ADD  CONSTRAINT [FK_FACTURADETALLE_FACTURAENCABEZADO] FOREIGN KEY([IdFacEn])
REFERENCES [dbo].[FACTURAENCABEZADO] ([IdFactEn])
GO
ALTER TABLE [dbo].[FACTURADETALLE] CHECK CONSTRAINT [FK_FACTURADETALLE_FACTURAENCABEZADO]
GO
ALTER TABLE [dbo].[FACTURADETALLE]  WITH CHECK ADD  CONSTRAINT [FK_FACTURADETALLE_PRODUCTOS] FOREIGN KEY([IdPro])
REFERENCES [dbo].[PRODUCTOS] ([IdPro])
GO
ALTER TABLE [dbo].[FACTURADETALLE] CHECK CONSTRAINT [FK_FACTURADETALLE_PRODUCTOS]
GO
ALTER TABLE [dbo].[FACTURAENCABEZADO]  WITH CHECK ADD  CONSTRAINT [FK_FACTURAENCABEZADO_CLIENTE] FOREIGN KEY([DNI])
REFERENCES [dbo].[CLIENTE] ([DNI])
GO
ALTER TABLE [dbo].[FACTURAENCABEZADO] CHECK CONSTRAINT [FK_FACTURAENCABEZADO_CLIENTE]
GO
ALTER TABLE [dbo].[FACTURAENCABEZADO]  WITH CHECK ADD  CONSTRAINT [FK_FACTURAENCABEZADO_USUARIOS] FOREIGN KEY([NomUsu])
REFERENCES [dbo].[USUARIOS] ([NomUsu])
GO
ALTER TABLE [dbo].[FACTURAENCABEZADO] CHECK CONSTRAINT [FK_FACTURAENCABEZADO_USUARIOS]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_CATEGORIAS] FOREIGN KEY([IdCat])
REFERENCES [dbo].[CATEGORIAS] ([IdCat])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_CATEGORIAS]
GO
ALTER TABLE [dbo].[PROVEEDORES]  WITH CHECK ADD  CONSTRAINT [FK_PROVEEDORES_PROVEEDORES] FOREIGN KEY([IdPrv])
REFERENCES [dbo].[PROVEEDORES] ([IdPrv])
GO
ALTER TABLE [dbo].[PROVEEDORES] CHECK CONSTRAINT [FK_PROVEEDORES_PROVEEDORES]
GO
/****** Object:  StoredProcedure [dbo].[Agrcli]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Agrcli]
@id nvarchar(50),
@nom nvarchar(50),
@correo nvarchar(50),
@telefono int

as
Insert into CLIENTES(IdCli, NomCli, CorCli, TelCli)
Values (@id, @nom, @correo, @telefono )
GO
/****** Object:  StoredProcedure [dbo].[AgreeCLI]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[AgreeCLI]
@id nvarchar(50),
@nom nvarchar(50),
@correo nvarchar(50),
@telefono int

as
Insert into CLIENTE(DNI, NomCli, CorCli, TelCli)
Values (@id, @nom, @correo, @telefono )
GO
/****** Object:  StoredProcedure [dbo].[agregacliente]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[agregacliente]
@id nvarchar(50),
@nom nvarchar(50),
@correo int,
@telefono nvarchar(50)
as
Insert into CLIENTES(IdCli, NomCli, CorCli,TelCli)
Values (@id,@nom,@correo,@telefono)
GO
/****** Object:  StoredProcedure [dbo].[AgregadoClient]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[AgregadoClient]
@id int,
@nom nvarchar(50),
@correo int,
@telefono int
as
Insert into CLIENTES(IdCli, NomCli, CorCli,TelCli)
Values (@id,@nom,@correo,@telefono)
GO
/****** Object:  StoredProcedure [dbo].[AgregadoCliente]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[AgregadoCliente]
@id int,
@nom nvarchar(50),
@correo int,
@telefono nvarchar(50)
as
Insert into CLIENTES(IdCli, NomCli, CorCli,TelCli)
Values (@id,@nom,@correo,@telefono)
GO
/****** Object:  StoredProcedure [dbo].[AgregadoClientee]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[AgregadoClientee]
@id int,
@nom nvarchar(50),
@correo nvarchar(80),
@telefono int
as
Insert into CLIENTES(IdCli, NomCli, CorCli,TelCli)
Values (@id,@nom,@correo,@telefono)
GO
/****** Object:  StoredProcedure [dbo].[BorrarCompra]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BorrarCompra]
    @idc INT
AS
BEGIN
    BEGIN TRANSACTION; -- Iniciar la transacción

    BEGIN TRY
        -- Borrar los registros de CompraDetalle que corresponden al IdComp proporcionado
        DELETE FROM CompraDetalle WHERE IdComp = @idc;

        -- Borrar el registro de CompraEncabezado con el IdComp proporcionado
        DELETE FROM CompraEncabezado WHERE IdComp = @idc;

        COMMIT; -- Confirmar la transacción si todo se realiza correctamente
    END TRY
    BEGIN CATCH
        ROLLBACK; -- Deshacer la transacción en caso de error
    END CATCH
END



GO
/****** Object:  StoredProcedure [dbo].[BorrarFactura]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BorrarFactura]
    @id1 INT
AS
BEGIN
    BEGIN TRANSACTION; -- Iniciar la transacción

    BEGIN TRY
        -- Borrar los registros de FacturaDetalle que corresponden al idFacEn proporcionado
        DELETE FROM FacturaDetalle WHERE IdFacEn IN (SELECT IdFacEn FROM FacturaEncabezado WHERE IdFactEn = @id1);

        -- Borrar el registro de FacturaEncabezado con el idFacEn proporcionado
        DELETE FROM FacturaEncabezado WHERE IdFactEn = @id1;

        COMMIT; -- Confirmar la transacción si todo se realiza correctamente
        PRINT 'Registro de FacturaEncabezado y registros relacionados en FacturaDetalle eliminados correctamente.';
    END TRY
    BEGIN CATCH
        ROLLBACK; -- Deshacer la transacción en caso de error
        PRINT 'Error al intentar eliminar los registros. La transacción ha sido revertida.';
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[CategoriaAgregada]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[CategoriaAgregada]
@id int,
@nom nvarchar(50)

as
Insert into CATEGORIAS(IdCat, NomCat)
Values (@id,@nom)
GO
/****** Object:  StoredProcedure [dbo].[ClienteAgrega]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ClienteAgrega]
@id int,
@nom nvarchar(50),
@correo int,
@telefono nvarchar(50)
as
Insert into CLIENTES(IdCli, NomCli, CorCli,TelCli)
Values (@id,@nom,@correo,@telefono)
GO
/****** Object:  StoredProcedure [dbo].[ClienteAgregado]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ClienteAgregado]
@id int,
@nom nvarchar(50),
@correo int,
@telefono nvarchar(50)
as
Insert into CLIENTES(IdCli, NomCli, CorCli,TelCli)
Values (@id,@nom,@correo,@telefono)
GO
/****** Object:  StoredProcedure [dbo].[comdetal]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[comdetal]
@idComp int,
@fec date,
@prov nvarchar(15)


as
Insert into COMPRAENCABEZADO(IdComp, FecComEnc, IdProv)
Values (@idComp,@fec, @prov  )
GO
/****** Object:  StoredProcedure [dbo].[Compraenc]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Compraenc]
@idComp int,
@fec date,
@prov int

as
Insert into COMPRAENCABEZADO( IdComp, FecComEnc, IdPrv)
Values (@idComp, @fec, @prov )
GO
/****** Object:  StoredProcedure [dbo].[deletecliente]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[deletecliente]
    @ideli nvarchar(15)
AS
BEGIN
DELETE FROM Cliente WHERE DNI = @ideli
END
GO
/****** Object:  StoredProcedure [dbo].[EcabeCompra]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[EcabeCompra]
@idComp int,
@fec date,
@prov int

as
Insert into COMPRAENCABEZADO( IdComp, FecComEnc, IdProv)
Values (@idComp, @fec, @prov )
GO
/****** Object:  StoredProcedure [dbo].[EditarCliente]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditarCliente]
    @id nvarchar(15),
    @nom NVARCHAR(30),
    @correo NVARCHAR(80),
    @telefono int
AS
BEGIN
    BEGIN TRANSACTION; 

    BEGIN TRY
        
        UPDATE Cliente
        SET NomCli = @nom,
            CorCli = @correo,
            TelCli = @telefono
        WHERE DNI = @id;
		COMMIT; 
    END TRY
    BEGIN CATCH
        ROLLBACK; 
    END CATCH
END
    
GO
/****** Object:  StoredProcedure [dbo].[editarproducto]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[editarproducto]
    @id INT,
    @nom NVARCHAR(50),
	@infor NVARCHAR(80),
	@preci INT,
    @est BIT,
  
	@category INT
AS
BEGIN
    BEGIN TRANSACTION; 

    BEGIN TRY
        
        UPDATE PRODUCTOS
        SET 
           
            NomPro = @nom,
			DesPro = @infor,
			PrePro= @preci,
			EstPro= @est,
			IdCat=@category
			
        
		WHERE IdPro = @id

        COMMIT; 
    END TRY
    BEGIN CATCH
        ROLLBACK; 
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[editarProveedor]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[editarProveedor]
    @id NVARCHAR(15),
    @nom NVARCHAR(50),
    @est BIT,
    @correo NVARCHAR(80),
	@tel INT
AS
BEGIN
    BEGIN TRANSACTION; 

    BEGIN TRY
        
        UPDATE PROVEEDORES
        SET 
            NomPrv = @nom,
            EstPrv = @est,
			CorPrv = @correo,
			TelfPrv = @tel
        
		WHERE IdPrv = @id;

        COMMIT; 
    END TRY
    BEGIN CATCH
        ROLLBACK; 
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[EliminaCliente]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminaCliente]
    @ideli INT
AS
BEGIN
    
    IF EXISTS (SELECT 1 FROM Cliente WHERE DNI = @ideli)
    BEGIN
        
        DELETE FROM Cliente WHERE DNI = @ideli
        PRINT 'Cliente eliminado exitosamente.'
    END
    ELSE
    BEGIN
        -- Si el cliente no existe, mostrar un mensaje
        PRINT 'El cliente especificado no existe en la base de datos.'
    END
END
GO
/****** Object:  StoredProcedure [dbo].[eliminar_cliente]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[eliminar_cliente]
@ideli varchar (15)
AS
delete from CLIENTE where DNI= @ideli

GO
/****** Object:  StoredProcedure [dbo].[eliminarcategoria]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[eliminarcategoria]
    @idcat int
AS
BEGIN
DELETE FROM CATEGORIAS WHERE IdCat = @idcat
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarcli]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[eliminarcli]
@id nvarchar (15)
AS
delete from CLIENTE where DNI= @id

GO
/****** Object:  StoredProcedure [dbo].[eliminarcliente]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[eliminarcliente]
@ideli nvarchar (15)
AS
delete from CLIENTE where DNI= @ideli

GO
/****** Object:  StoredProcedure [dbo].[eliminarfacturx]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[eliminarfacturx]
@id1 INT
--@id2 INT
AS
BEGIN
    BEGIN TRANSACTION; 

    BEGIN TRY
        DELETE FROM FacturaEncabezado where IdFactEn= @id1 ;
        --DELETE FROM FacturaDetalle where IdFacEn= @id2

        
        

        COMMIT; 
        PRINT 'Datos eliminados correctamente de ambas tablas.';
    END TRY
    BEGIN CATCH
        ROLLBACK; 
        PRINT 'Error al intentar eliminar datos. La transacción ha sido revertida.';
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarinvent]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[eliminarinvent]
    @idinv int
AS
BEGIN
DELETE FROM PRODUCTOS WHERE IdPro = @idinv
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarproveedor]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[eliminarproveedor]
    @idprv nvarchar(15)
AS
BEGIN
DELETE FROM PROVEEDORES WHERE IdPrv = @idprv
END
GO
/****** Object:  StoredProcedure [dbo].[encabeCompra]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[encabeCompra]
@idComp int,
@fec date,
@prov int

as
Insert into COMPRAENCABEZADO( IdComp, FecComEnc, IdProv)
Values (@idComp, @fec, @prov )
GO
/****** Object:  StoredProcedure [dbo].[encfacturaaa]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[encfacturaaa]
@idfac int,
@fec date,
@usu nvarchar(30),
@idcli NVARCHAR(15),
@est bit
as
Insert into FACTURAENCABEZADO( IdFactEn, FecFacEn, NomUsu, DNI, EstFacEn)
Values (@idfac, @fec, @usu,@idcli, @est )
GO
/****** Object:  StoredProcedure [dbo].[Factacbaeza]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Factacbaeza]
@idfac int,
@fec date,
@usu nvarchar(30),
@dni nvarchar(15),
@est bit
as
Insert into FACTURAENCABEZADO( IdFactEn, FecFacEn, NomUsu, DNI, EstFacEn)
Values (@idfac, @fec, @usu,@dni, @est )
GO
/****** Object:  StoredProcedure [dbo].[FacturaDet]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[FacturaDet]
@idd int,
@prod int,
@cant int,
@preci int
as
Insert into FACTURADETALLE(IdFacEn, IdPro, CantFacDe, PreFacDe)
Values (@idd, @prod,@cant,@preci)
GO
/****** Object:  StoredProcedure [dbo].[FacturaDeta]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[FacturaDeta]

@idpro int,
@cant int,
@preci int
as
Insert into FACTURADETALLE( IdPro, CantFacDe, PreFacDe)
Values ( @idpro,@cant,@preci)
GO
/****** Object:  StoredProcedure [dbo].[Facturadist]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Facturadist]
@ide int,
@fec date,
@usua nvarchar(30),
@Dni nvarchar(15),
@est bit
as
Insert into FACTURAENCABEZADO( IdFactEn, FecFacEn, NomUsu, DNI, EstFacEn)
Values (@ide, @fec, @usua,@Dni, @est )
GO
/****** Object:  StoredProcedure [dbo].[Facturadistinta]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Facturadistinta]
@idfac int,
@fec date,
@idcli int,
@usu nvarchar(30),
@est bit
as
Insert into FACTURAENCABEZADO( IdFactEn, FecFacEn, IdCli, NomUsu, EstFacEn)
Values (@idfac, @fec, @idcli,@usu, @est )
GO
/****** Object:  StoredProcedure [dbo].[FacturaRealiz]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[FacturaRealiz]
@id int,
@idpro int,
@cant int,
@preci int
as
Insert into FACTURADETALLE(IdFacEn, IdPro, CantFacDe, PreFacDe)
Values (@id, @idpro,@cant,@preci)
GO
/****** Object:  StoredProcedure [dbo].[FacturaRealizada]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[FacturaRealizada]
@id int,
@idpro int,
@cant int,
@preci int
as
Insert into FACTURADETALLE(IdFacEn, IdPro, CantFacDe, PreFacDe)
Values (@id, @idpro,@cant,@preci)
GO
/****** Object:  StoredProcedure [dbo].[IngresarBitacora]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[IngresarBitacora]
@fec date,
@acti nvarchar(50),
@usuariolabel nvarchar(30)

as
Insert into TB_BITACORA(FecBit, NomUsr, IdActi)
Values (@fec, @usuariolabel, @acti)
GO
/****** Object:  StoredProcedure [dbo].[InsertCompraDetalle]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[InsertCompraDetalle]
@idc int,
@prv int,
@cant int,
@pre int
as
Insert into COMPRADTALLE(IdComp, IdPro, CantCom, PreCom)
Values (@idc,@prv,@cant,@pre)
GO
/****** Object:  StoredProcedure [dbo].[Productoagre]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Productoagre]
@id int,
@nom nvarchar(50),
@infor nvarchar(100),
@preci int
/*@est nvarchar(50),
@category int*/
as
Insert into PRODUCTOS(IdPro, NomPro,DesPro, PrePro )
Values (@id,@nom,@infor,@preci)
GO
/****** Object:  StoredProcedure [dbo].[Productoagreg]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Productoagreg]
@id int,
@nom nvarchar(50),
@infor nvarchar(50),
@preci int
/*@est nvarchar(50),
@category int*/
as
Insert into PRODUCTOS(IdPro, NomPro,DesPro, PrePro )
Values (@id,@nom,@infor,@preci)
GO
/****** Object:  StoredProcedure [dbo].[Productoagregado]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Productoagregado]
@id int,
@nom nvarchar(50),
@infor nvarchar(50),
@preci int,
@est bit,
@category int
as
Insert into PRODUCTOS(IdPro, NomPro,DesPro, PrePro, EstPro, IdCat )
Values (@id,@nom,@infor,@preci, @est, @category)
GO
/****** Object:  StoredProcedure [dbo].[Provagr]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Provagr]
@id nvarchar(15),
@nom nvarchar(50),
@est bit,
@correo nvarchar(50),
@telefono int
as
Insert into PROVEEDORES( IdPrv, NomPrv, EstPrv, CorPrv, TelfPrv)
Values (@id, @nom, @est, @correo, @telefono )
GO
/****** Object:  StoredProcedure [dbo].[Proveedoragregadp]    Script Date: 08/03/2024 22:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Proveedoragregadp]
@id int,
@nom nvarchar(50),
@est bit,
@correo nvarchar(80),
@telefono int


as
Insert into PROVEEDORES(IdPrv, NomPrv, EstPrv, CorPrv, TelfPrv)
Values (@id,@nom,@est,@correo,@telefono)
GO
USE [master]
GO
